@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  height: 100%;
}
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --light-color: #a0b0b9;
  --dark-color: #4a4a4a;
  --main-color-project: #549df4;
  --main-color-hover: #f1fcff;
  --main-color-checked: #b3d7ff;
  --box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
}

.App {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-color);
  font-size: 12px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid deepskyblue;
  min-height: 100vh;
  background-color: #f3f7fa;
  max-width: 961px;
  margin: 0 auto;
}

.header-logo {
  padding: 50px 0;
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 232px 502px;
  column-gap: 20px;
  align-self: center;
  grid-template-areas:
    'transfer price'
    'transfer tickets'
    'transfer footer';
}


.transfer-filter {
  grid-area: transfer;
  width: 232px;
  max-height: 252px;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 13px;
  background: white;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;
  box-shadow: var(--box-shadow);
}

.transfer-filter form {
  display: block;
  flex-direction: column;
  width: 210px;
  font-weight: 400;
  text-transform: none;
}
.transfer-filter__title {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  position: relative;
}
.custom-checkbox label {
  position: relative;
}

.custom-checkbox +label:before {
  position: absolute;
}

.custom-checkbox label{
  width: 210px;
}
.custom-checkbox + label::before{
  position: absolute;
  left: -2px;
  top: 11px;
}
.custom-checkbox + label:hover::before {
  background-color: rgba(173, 216, 230, 0.5); /* Нежно-голубой цвет при наведении */
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: var(--main-color-project);
  background-color: var(--main-color-project);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: var(--main-color-checked);
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
  background-color: var(--main-color-checked);
  border-color: var(--main-color-checked);
}
/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
  background-color: #e9ecef;
}

.section--line {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 502px;
  height: 50px;
  border: 1px solid #dfe5ec;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.price-filters {
  grid-area: price;
  display: inline-flex;
}

.price-filter {
  /*border-right: 1px solid #dfe5ec;*/
  cursor: pointer;
  /*transition:*/
  /*  background-color 0.1s,*/
  /*  color 0.3s;*/
}

.price-filter.price-filter__optimal {
  border-right: 0;
}

.price-filter__cheap:hover,
.price-filter__optimal:hover,
.price-filter__fastest:hover,
.main-footer:hover {
  background-color: rgba(128, 189, 255, 0.82);
  color: #fff !important;
}

.price-filter.price-filter__cheap--active,
.price-filter.price-filter__fastest--active,
.price-filter.price-filter__optimal--active {
  background-color: var(--main-color-project);
  color: #fff;
}

.price-filter.price-filter__cheap--active{
  color:white !important;
}

.tickets-list {
  grid-area: tickets;
  width: 502px;
}
.ticket {
  border-radius: 5px;
  background-color: white;
  box-shadow: var(--box-shadow);
  padding: 20px;
  margin-bottom: 20px;
}
.ticket-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ticket-header__price {
  font-size: 24px;
  color: var(--main-color-project);
}
.ticket-header__logo {
  width: 140px;
}

.info {
  display: flex;
  gap: 20px;
}

.info__time,
.info__total-hours,
.info__total-transfers {
  width: 140px;
}
.info-wrapper li {
  margin-bottom: 20px;
}

.info--text-light {
  color: var(--light-color);
}

.info__total-hours {
  position: relative;
}
.info__total-hours--up img {
  position: absolute;
  top: -3px;
  left: 82px;
}

.info__total-hours--down img {
  position: absolute;
  top: -2px;
  left: 82px;
}
.main-footer {
  grid-area: footer;
  margin-top: auto;
  cursor: pointer;
  background-color: var(--main-color-project);
}

.ticket-header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ticket-carrier {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  width: 36px; /* Размер круга */
  height: 36px;
  border-radius: 50%;
  background-color: rgba(250, 175, 100, 0.91); /* Цвет круга */
}

.ant-radio-button-wrapper{
  font-size: 12px !important;
  color: var(--dark-color) !important;
  font-weight: 400 !important;
  margin-bottom: 30px;
}


.wrapperClassName{
  margin-bottom: 10px;
}